* {
    margin: 0px;
}

  .divider {
    height: 50vh;
    background-color: black;
  }


  .main {
    background-image: url("bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(8px); */
    height: 100vh;
    width: 100%;
  }

  .main .flex-container {
    height: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  
  .main .flex-container button {
    padding: 10px 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .main .button {
    /* background-color: orange; */
    border: none;
    color: white;
    padding: 15px;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .main .header {
    margin-top: 10%;
    display: block;
    /* background-color: aquamarine; */
    height: 120px;
    /* padding: 16px; */
    text-align: center;
    /* gap: 10px; */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  .main .header .heading {
    display: block;
    font-weight: bolder;
    font-size: 80px;
    color: white;
  }

  .main .header .quote {
    display: block;
    font-weight: bolder;
    font-size: 35px;
    color: white;
  }

  .main .header .whatsIncluded {
    font-size: 20px;
    color: aqua;
    font-weight: bolder;
    text-decoration: wavy;
  }



  .whatsIncludedArea {
    background-image: url("whatsIncludedbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(8px); */
    height: 100vh;
    width: 100%;
  }

  .whatsIncludedArea .header {
    display: block;
    /* background-color: aquamarine; */
    height: 120px;
    /* padding: 16px; */
    text-align: center;
    /* gap: 10px; */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  .whatsIncludedArea .header .heading {
    display: block;
    font-weight: bolder;
    padding-top: 2.5%;
    font-size: 50px;
    color: white;
  }